.DS_Store
.Rhistory
density.Rproj
.Rproj.user/AA1C6C93/rmd-outputs
.Rproj.user/AA1C6C93/saved_source_markers
.Rproj.user/AA1C6C93/pcs/files-pane.pper
.Rproj.user/AA1C6C93/pcs/source-pane.pper
.Rproj.user/AA1C6C93/pcs/windowlayoutstate.pper
.Rproj.user/AA1C6C93/pcs/workbench-pane.pper
.Rproj.user/AA1C6C93/sources/per/t/C9EF3472
.Rproj.user/AA1C6C93/sources/per/t/C9EF3472-contents
.Rproj.user/AA1C6C93/sources/per/u/69934D07
.Rproj.user/AA1C6C93/sources/per/u/69934D07-contents
.Rproj.user/AA1C6C93/sources/per/u/3558132C
.Rproj.user/AA1C6C93/sources/per/u/3558132C-contents
.Rproj.user/AA1C6C93/sources/prop/C0A0BC64
.Rproj.user/AA1C6C93/sources/prop/INDEX
.Rproj.user/D2661381/rmd-outputs
.Rproj.user/D2661381/saved_source_markers
.Rproj.user/D2661381/pcs/files-pane.pper
.Rproj.user/D2661381/pcs/source-pane.pper
.Rproj.user/D2661381/pcs/windowlayoutstate.pper
.Rproj.user/D2661381/pcs/workbench-pane.pper
.Rproj.user/D2661381/sources/prop/2E0CBE53
.Rproj.user/D2661381/sources/prop/3DA7D49E
.Rproj.user/D2661381/sources/prop/64E275AB
.Rproj.user/D2661381/sources/prop/45679E75
.Rproj.user/D2661381/sources/prop/70039DB9
.Rproj.user/D2661381/sources/prop/563219B8
.Rproj.user/D2661381/sources/prop/61652337
.Rproj.user/D2661381/sources/prop/B8AA9AE6
.Rproj.user/D2661381/sources/prop/BA581EEB
.Rproj.user/D2661381/sources/prop/BAA80C12
.Rproj.user/D2661381/sources/prop/C148F815
.Rproj.user/D2661381/sources/prop/CB9A0D1D
.Rproj.user/D2661381/sources/prop/D192881D
.Rproj.user/D2661381/sources/prop/DA4D61C1
.Rproj.user/D2661381/sources/prop/E104E91D
.Rproj.user/D2661381/sources/prop/E17826BC
.Rproj.user/D2661381/sources/prop/INDEX
.Rproj.user/D2661381/sources/session-c58c5f20/49BE4A43
.Rproj.user/D2661381/sources/session-c58c5f20/49BE4A43-contents
.Rproj.user/D2661381/sources/session-c58c5f20/53A16719-contents
.Rproj.user/D2661381/sources/session-c58c5f20/85AE9DE2-contents
.Rproj.user/D2661381/sources/session-c58c5f20/553B9BDB-contents
.Rproj.user/D2661381/sources/session-c58c5f20/5050B6C2-contents
.Rproj.user/D2661381/sources/session-c58c5f20/A4C366B5
.Rproj.user/D2661381/sources/session-c58c5f20/A4C366B5-contents
.Rproj.user/D2661381/sources/session-c58c5f20/D484CC83-contents
.Rproj.user/D2661381/sources/session-c58c5f20/F7F7A10A
.Rproj.user/D2661381/sources/session-c58c5f20/F7F7A10A-contents
.Rproj.user/D2661381/sources/session-c58c5f20/F60FD99D
.Rproj.user/D2661381/sources/session-c58c5f20/F60FD99D-contents
.Rproj.user/D2661381/sources/session-c58c5f20/lock_file
.Rproj.user/D2661381/sources/session-f1ffa52a/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
data/Norvegienne.Rdata
*.Rdata
/.Rproj.user
/docs
/docs/*
data_treatment_JL/
